@font-face {
  font-family: charter;
  src: url('../fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
}


:root {
  font-size: 18px;
  --gary30: #212121;
  --gary20: #212429;
  --gary10: #616161;
}

body {
  color: var(--gary30);
  font-family: charter;
}

a {
  color: var(--gary30);
}

header {
  /* --gary10: red; */ /* Cambia el valor de la variable solo dentro de este scope */
  font-size: 14px;
  color: var(--gary10);
}

header a {
  color: var(--gary10);
  text-decoration: none;
}

header a:hover {
  color: var(--gary30);
}

nav details summary {
  font-weight: bold;
}

h1 {
  font-size: 60px;
}

h2 {
  /* font-size: 32px; */
  font-size: 2em;
}

h3 {
  /* font-size: 24px; */
  font-size: 1.5em;
}