@font-face {
  font-family: charter;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/charter-regular.otf');
}

@font-face {
  font-family: charter;
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/charter-italic.otf');
}

@font-face {
  font-family: charter;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/charter-bold.otf');
}

@font-face {
  font-family: charter;
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/charter-bold-italic.otf');
}


:root {
  font-size: 18px;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}

a {
  color: var(--gray30);
}

blockquote {
  border-left: 4px solid var(--gray30);
  font-size: 24px;
  line-height: 24px;
  margin: 32px 0;
  padding-left: 16px;
}

blockquote p span {
  color: var(--gray10);
}

blockquote p span::before {
  content: "-";
}

body {
  color: var(--gray30);
  /* font-family: charter; */
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1 {
  font-size: 60px;
  font-weight: normal;
  margin-bottom: 16px;
  margin-top: 64px;
}

h1 + p {
  margin-bottom: 64px;
}

h2 {
  /* font-size: 32px; */
  font-size: 2em;
  font-weight: normal;
  margin: 64px 0 40px;
}

h3 {
  /* font-size: 24px; */
  font-size: 1.5em;
  font-weight: normal;
  margin: 16px 0 24px;
  position: relative;
}

header {
  /* --gray10: red; */ /* Cambia el valor de la variable solo dentro de este scope */
  color: var(--gray10);
  font-size: 14px;
  left: -215px;
  width: 188px;
  position: absolute;
}

header a {
  color: var(--gray10);
  text-decoration: none;
}

header li {
  margin-bottom: 16px;
}

header a:hover {
  color: var(--gray30);
}

hr {
  border: 1px solid #61616133;
  margin: 64px 0;
}

html {
  scroll-behavior: smooth;
}

nav details summary {
  font-weight: bold;
  line-height: 24px;
}

pre {
  background: #FEC62E;
  font-family: 'Roboto';
  line-height: 24px;
  padding: 40px;
}

/* Tecnicas de debug
.debug {
  box-shadow: inset 0 0 0 1px red;
  outline: 1px solid red;
  background: red;
  border: 1px solid red !important;
  box-sizing: border-box;
}
*/

.fondoHeader {
  background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url('../images/fondo-header.png');
  height: 350px;
}

.header {
  position: sticky;
  top: 0;
}

.header-content {
  position: relative;
  top: 64px;
}

.main-content {
  background: white;
}

.section-content {
  margin-top: 164px;
  counter-reset: titleLists;
}

::selection {
  background: lightskyblue;
}

.section-content:first-of-type {
  margin: 0;
}

.section-content h3 {
  counter-increment: titleLists;
  padding-bottom: 8px;
}

/* Se utilizan los pseudoelementos para garegar contenido NO semántico */
.section-content h3::before {
  content: counter(titleLists) '. ';
}

.section-content h3::after {
  background: var(--gray30);
  bottom: 0;
  content: "";
  display: inline-block;
  height: 4px;
  left: 0;
  position: absolute;
  width: 80px;
}

.section-content + hr {
  display: none;
}

.section-content img {
  margin-top: 40px;
}

.section-content ol li {
  line-height: 24px;
}

.section-content ul li {
  margin-bottom: 16px;
}

.wrapper {
  margin: auto;
  width: 902px;
}
